img {
    max-width: 250px;
}

main {
    width: 75%;
}

aside {
    width: 25%;
    height: 90vh;
    overflow-y: scroll;
    position: sticky;
    top: 30px;
    border: 1px solid white;
    text-align:justify;
    padding:0 10px 0 5px;
    margin:50px 50px 0 0;
}
/* width */
aside::-webkit-scrollbar {
    width: 10px;
}

/* Track */
aside::-webkit-scrollbar-track {
    background: rgba(136, 136, 136, 0.301);
}

/* Handle */
aside::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, .50);
}

/* Handle on hover */
aside::-webkit-scrollbar-thumb:hover {
    background: rgba(255,0,0,.25);
}

li b {
    color: red;
}

li {
    margin: 5px 0 0 5px;
}

#container {
    display: flex;
    flex-direction: row;
}

.weapon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding:0 25px 0 25px;
    margin:25px 0 25px 0;
    border: 1px solid white;
}

.stats {
    display: flex;
}
.stats h4{
    text-align: center;
}

.stats div {
    border: 1px solid white;
    margin:0 20px 0 0;

}
.stats div p {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    padding: 0 20px 0 20px;
}

.redText {
    color: red;
}